@charset "utf-8";
/* Info PJ 서브페이지 CSS - sub.css */

/* 공통 외부클래스 불러오기 */
/* 
    import 로 파일 합치기
    외부css파일에서 다른 외부css를
    import방식으로 불러올 수 있는데 장점은?
    html파일에서 link요소로 호출할 경우
    http requset(웹요청)이 많아져서
    페이지 랜더링 속도가 더뎌진다!
    따라서 이 방식을 쓰면 한번에 여러css를
    불러올 수 있어서 로딩속도에 유리하다!
    - 주의: import는 css파일 상단에 코딩한다!
*/
/* @import url(파일주소); */
@import url(common.css);


/*  서브페이지 메인 컨텐츠 박스 
    common.css에서 한 걸 덮어쓰는 것*/
main#cont{
    /* 패딩변경 */
    padding: 20px; /* p20 */
}
/************** 2-1. 언론사로고 **************/
.prlogo img{
    height: 32px;
    /* 이미지는 가로, 세로중 하나만 주면 나머지는
    비율에 맞게 자동변경된다! */
}
/************** 2-2. 기사제목 **************/
.atit{
    font-size : 30px;
    /* 글자두께: font-weight */
    font-weight: bold;
    font-family: "맑은 고딕";
    letter-spacing: 2px;
    word-spacing: -5px;
    /* white-space:nowrap */
}
/************** 2-3. 기사사진(+사진설명) **************/
.afig{
    margin: 15px 0;
}

.afig img{
    width: 100%;
}

.afig figcaption{
    background-color: bisque;
    text-align: center;
    padding-bottom: 20px;
}

.afig small{
    font-family: "함초롬돋움";
    color: burlywood;
}

.atc{
    font-family: "함초롬돋움";
    font-size: 17px;
    line-height: 1.56;
}

.atc strong{
    font-family: "궁서";
}
/************** 2-4. 기사내용 **************/

.quote{
    background-color: rgba(140, 140, 140, 0.239);
    padding: 10px;
    
}

.quote h3{
    font-size: 20px;
    text-align: center;

}

.quote blockquote{
    font-size: 12px;
    text-indent: 15px;
    text-align: justify;
    line-height: 1.7;
}

/************** 2-5. 기자소개 **************/
/************** 2-6. 원본기사링크 **************/

/* 서브페이지 메인 컨텐츠 박스 */

/* 메인 컨텐츠 공통 경계선 */
#cont article{
    border-top: 1px solid #ccc;
    margin-top: 25px;

    /* 
    text-align-last: center;
    background-color: #fdffbf;
    background-clip: content-box;
    padding: 20px; */

}

/* 분야별 주요뉴스에 가상요소로 아이콘 넣기 */
.secnews dt::before{
    content: '★';
    color: blue;
}

.secnews dd::before{
    content: '▷';
    color: powderblue;
}