@charset "utf-8";
/* 도깨비 공통 클래스 CSS - core.css */
/* 공통클래스, 웹폰트 등 공통 모듈 */


@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@300&family=Nanum+Gothic&family=Nanum+Myeongjo:wght@400;700&display=swap');

.whole::-webkit-scrollbar{
    width: 10px;
}
.whole::-webkit-scrollbar-thumb{
    background-color:rgb(78, 103, 81);
    
    border-radius: 5px;
}
.whole::-webkit-scrollbar-track{
    background-color:  rgb(190, 207, 197);
}
